<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lassie.lassie" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Splash"
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:logo="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KeuzeScherm"
            android:icon="@drawable/logo"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".Home"
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:logo="@drawable/logo">
        </activity>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:logo="@drawable/logo">
        </activity>
    </application>

</manifest>
